node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log
logs/*

# Directorios de dependencias
node_modules/
bower_components/

# Salidas de compilación y caché
build/
dist/
out/
.cache/

# Archivos del sistema
Thumbs.db
.vscode/
.idea/

# Archivos de paquetes
package-lock.json
yarn.lock

# Archivos de testing
coverage/
.nyc_output/

# Archivos de despliegue
.deploy*/
credentials.json
